{% load i18n %}
{% if SHOW_INCIDENTS or SHOW_UPTIME %}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
	  google.load("visualization", "1", {packages:["corechart"]});


      function get_min_max_value(data) {
          var i, min = 90, max=10;

          for (i=0;i<data.length; i++) {
              if (data[i][1] - 10 < min) {
                  min = data[i][1] - 10;
              }
              if (data[i][1] + 10 > max ) {
                  max = data[i][1] + 10;
              }
          }
          if (max > 101) {
              max = 101
          }
          return {min: min, max: max};
      }

	  {% if SHOW_INCIDENTS %}
		  function drawIncidentsChart() {
		    var data = new google.visualization.DataTable(),
                incidents_data = {%  if request.public %}{{ public_incidents_data|safe }}{% else %}{{ incidents_data|safe }}{% endif %};
		    data.addColumn('string', '{% trans "Day" %}');
		    data.addColumn('number', '{% trans "Downtime" %}');
		    data.addRows(incidents_data);

            var margins = get_min_max_value(incidents_data);
		    var chart = new google.visualization.AreaChart(document.getElementById('incidents_chart'));
		    chart.draw(data, {width: 400, height: 150,
		                      hAxis: {textPosition: 'none'},
		                      vAxis: {textPosition: 'none',
		                      		  gridlineColor:'none',
		                      		  maxValue:margins.max,
		                      		  minValue: margins.min
                              },
		                      chartArea: {width: '90%',
		                      			  height: '70%'},
		                      colors: ['red'],
		                      legend: 'none',
		                      axisTitlesPosition: 'none'
		                     });
		  }
		  google.setOnLoadCallback(drawIncidentsChart);
	  {% endif %}
	  
	  {% if SHOW_UPTIME %}
		  function drawUptimeChart() {
		    var data = new google.visualization.DataTable(),
                uptime_data = {%  if request.public %}{{ public_uptime_data|safe }}{% else %}{{ uptime_data|safe }}{% endif %};
		    data.addColumn('string', '{% trans "Day" %}');
		    data.addColumn('number', '{% trans "Uptime" %}');
		    data.addRows(uptime_data);


            var margins = get_min_max_value(uptime_data);
		    var chart = new google.visualization.AreaChart(document.getElementById('uptime_chart'));
		    chart.draw(data, {width: 400, height: 150,
		                      hAxis: {textPosition: 'none'},
		                      vAxis: {textPosition: 'none',
		                      		  gridlineColor:'none',
		                      		  maxValue:margins.max,
		                      		  minValue:margins.min},
		                      chartArea: {width: '90%',
		                      			  height: '70%'},
		                      colors: ['blue'],
		                      legend: 'none',
		                      axisTitlesPosition: 'none',
		                     });
		  }
		  google.setOnLoadCallback(drawUptimeChart);
	  {% endif %}
	</script>
{% endif %}

<div id="video">
	<div id="get-started">
			<h2>{% trans "Availability - " %}
                {%  if request.public %}
                    {{ current_public_availability }}
                {% else %}
                    {{ current_availability }}
                {% endif %} %</h2>
			
			{% if SHOW_LAST_INCIDENT %}
				<div class='status_header_block'>
					<p class='status_header_title'>{% trans "Last Incident" %}</p>
					<p class='status_header_value'>
                        {%  if request.public %}
                            {{ last_public_incident.verbose_html|safe }}
                        {% else %}
                            {{ last_incident.verbose_html|safe }}
                        {% endif %}
                    </p>
				</div>
			{% endif %}
			<table class="chart-table">

                <thead>
                {% if SHOW_INCIDENTS %}
                        <th>{% trans "Incidents" %}</th>
                {% endif %}

                {% if SHOW_UPTIME %}
                        <th>{% trans "Uptime" %}</th>
                {% endif %}
                </thead>
                <tbody>
                    <td>
                        {% if SHOW_INCIDENTS %}
                            <div id='incidents_chart'></div>
                        {% endif %}
                    </td>
                    <td>
                        {% if SHOW_UPTIME %}
                            <div id='uptime_chart'></div>
                        {% endif %}
                    </td>
                </tbody>
            </table>
			{% if msg %}
				<p class="msg">{{ msg }}</p>
			{% endif %}
	</div>
</div>