{% load i18n %}
{% if event %}
	<p class="title">{% blocktrans %}Subscribe to Event - {{ event.verbose }}{% endblocktrans %}</p>
{% else %}
	{% if module %}
		<p class="title">{% blocktrans %}Subscribe to Module {{ module.name }}{% endblocktrans %}</p>
	{% else %}
		<p class="title">{% trans "Subscribe" %}</p>
	{% endif %}
{% endif %}

<div class="description">
	{% if saved %}
		{% blocktrans %}You've successfuly subscribed to receive {% endblocktrans %}{% if one_time %}{% blocktrans %}a one time notification as soon as the system is back on line{% endblocktrans %}{% else %}{% blocktrans %}notifications whenever an incident happens with the system{% endblocktrans %}{% endif %}.
	{% else %}
		{% if event %}
			<form action="/subscribe/event/{{ event.id }}" method="POST">
		{% else %}
			{% if module %}
				<form action="/subscribe/module/{{ module.id }}" method="POST">
			{% else %}
				<form action="/subscribe" method="POST">
			{% endif %}
		{% endif %}
                {% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="{% trans "Submit" %}"/>
		</form>
	{% endif %}
</div>