{% load media %}
{% load i18n %}
{% load status_tags %}
{% load user_tags %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Backend</title>
    {% include_media 'main.js' %}
    {% include_media 'bootstrap.css' %}
    {% include_media 'jquery-ui.css' %}
    <style>
        body, section {
            padding-top: 40px;
        }
        .error {
            font-weight: 700;
            color: #B94A48;
        }
        .input-error {
            color:#B94A48;
            border-color: #B94A48;
        }
        textarea {
            height: 50px;
        }
        .helptext {
            display: none;
        }
        .extend_value{
            display: inline;
            width: 30px;
        }
        th {
            max-width: 130px;
        }

        .popover-inner {
            width: auto;
        }
        .popover-title {
            display: none;
        }
    </style>
</head>
<body data-spy="scroll" data-target=".navbar-fixed-top">
    <div id="main-container" class="container">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav pull-left">
                        <li>
                            <a href="#profile"><i class="icon-white icon-user"></i> My Profile</a>
                        </li>
                        <li>
                            <a href="#site_configs_monitor"><i class="icon-white icon-list-alt"></i> Site Configs</a>
                        </li>
                        <li>
                            <a href="#monitors"><i class="icon-white icon-eye-open"></i> Monitors</a>
                        </li>
                        <li>
                        <a href="#status-site-domains"><i class="icon-white icon-globe"></i> Site Domains</a>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        <li>
                        <p class="navbar-text">
                            <i class="icon-white icon-user"></i> {% get_full_name user %}
                        </p>
                        </li>
                        <li>
                            <a href="{% url auth_logout %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <section id="profile">
            <div class="page-header">
                <h1>My Profile</h1>
            </div>
                <strong>{{ request.user.email }}</strong>

                <form method='post' action='/backend/update_profile'>{% csrf_token %}
                    <table>
                        <tr><br/></tr>
                        {{  profile_form.as_table }}
                    </table>
                    <button class="btn btn-primary" type="submit" name="Submit" value="update_profile" data-complete-text="Saved!">Save</button>
                </form>
        </section>
        <section id="site_configs_monitor">
            <div class="page-header">
                <h1>My Site Configs</h1>
            </div>
            <ul class="nav nav-tabs" data-tabs="tabs" id="site-configs">
                <li class="active">
                    <a href="#add-site-config" data-toggle="tab"><i class="icon-plus"></i> Add</a>
                </li>
                {% for site_config_form in site_config_forms %}
                    <li data-form-id="{{ site_config_form.instance.pk }}">
                        <a href="#site-config-{{  site_config_form.instance.pk }}" data-toggle="tab">
                            {% with site_config_form.instance.aggregated_status.percentage_uptime as uptime %}
                                {% if uptime %}
                                {% if uptime >= 99.0 %}
                                    <span class="badge badge-success">{{ uptime|floatformat:"-2" }}%</span>
                                {% else %}{% if uptime > 80 %}
                                        <span class="badge badge-warning">{{ uptime|floatformat:"-2" }}%</span>
                                    {% else %} {% if uptime > 0 %}
                                            <span class="badge badge-important">{{ uptime|floatformat:"-2" }}%</span>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                {% endif %}
                            {% endwith %}
                            {{ site_config_form.initial.site_name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content" id="site-config-forms">
                <div class="tab-pane active" id="add-site-config">
                    <h2>Add a new Site Config</h2>
                    <form method="post" action='/backend/add_site_config'>{% csrf_token %}
                        <table>
                            {{ site_config_form_template.as_table }}
                        </table>
                        <input type="hidden" name="site_config_action" value="add"/>
                        <button class="btn btn-primary site-config-add" type="submit" name="Submit" value="add_site_config" data-complete-text="Saved!">Save</button>
                    </form>
                </div>
                {% for site_config_form in site_config_forms %}
                    {% include 'backend/site_config_form.html' %}
                {% endfor %}
            </div>
        </section>

        <section id="monitors">
            <div class="page-header">
                <h1>My Monitors</h1>
            </div>
            <ul class="nav nav-tabs" data-tabs="tabs" id="modules">
                <li class="active">
                    <a href="#add-module" data-toggle="tab"><i class="icon-plus"></i> Add</a>
                </li>
                {% for module_form in module_forms %}
                    <li data-form-id="{{ module_form.instance.pk }}">
                        <a href="#module-{{  module_form.instance.pk }}" data-toggle="tab">
                            {% with module_form.instance.percentage_uptime as uptime %}
                                {% if uptime %}
                                    {% if uptime >= 99.0 %}
                                        <span class="badge badge-success">{{ uptime|floatformat:"-2" }}%</span>
                                        {% else %}{% if uptime > 80 %}
                                            <span class="badge badge-warning">{{ uptime|floatformat:"-2" }}%</span>
                                        {% else %} {% if uptime > 0 %}
                                                <span class="badge badge-important">{{ uptime|floatformat:"-2" }}%</span>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endwith %}
                            {{ module_form.initial.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content" id="module-forms">
                <div class="tab-pane active" id="add-module">
                    <h2>Add a new Module</h2>
                    <form method="post" action='/backend/add_module'>{% csrf_token %}
                        <table>
                            {{ module_form_template.as_table }}
                        </table>
                        <input type="hidden" name="module_action" value="add"/>
                        <button class="btn btn-primary" type="submit" name="Submit" value="add_module" data-complete-text="Saved!">Save</button>
                    </form>
                </div>
                {% for module_form in module_forms %}
                    {% include 'backend/module_form.html' %}
                {% endfor %}
                {% include 'backend/module_form_scripts.html' %}
            </div>
        </section>
        <section id="status-site-domains">
            <div class="page-header">
                <h1>Status Site Domains</h1>
            </div>
            <ul class="nav nav-tabs" data-tabs="tabs" id="site-domains">
                <li class="active">
                    <a href="#add-site-domain" data-toggle="tab"><i class="icon-plus"></i> Add</a>
                </li>
                {% for site_domain_form in site_domain_forms %}
                    <li data-form-id="{{ site_domain_form.instance.pk }}">
                        <a href="#site-domain-{{  site_domain_form.instance.pk }}" data-toggle="tab">{{ site_domain_form.initial.status_url }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content" id="site-domain-forms">
                <div class="tab-pane active" id="add-site-domain">
                    <h2>Add a new Site Domain</h2>
                    <form method="post" action='/backend/add_site_domain'>{% csrf_token %}
                        <table>
                            {{ site_domain_form_template.as_table }}
                        </table>
                        <input type="hidden" name="site_domain_action" value="add"/>
                        <button class="btn btn-primary" type="submit" name="Submit" value="add_site_domain" data-complete-text="Saved!">Save</button>
                    </form>
                </div>
                {% for site_domain_form in site_domain_forms %}
                    {%  include 'backend/site_domain_form.html' %}
                {% endfor %}
            </div>
        </section>
    </div>
    {% include_media 'bootstrap.js' %}
    <script type="text/template" id="site_domain_form_template">
        {{ site_domain_form_template.as_table }}
    </script>

    <script type="text/template" id="module_form_template">
        {{ module_form_template.as_table }}
    </script>

    <script type="text/template" id="site_config_form_template">
        {{ site_config_form_template.as_table }}
    </script>
    <script type="text/javascript">
        $(function() {
            $( ".datepicker" ).datepicker();
        });

        function load_popovers(){
            $(".helptext").prev("br").remove();

            $(".helptext").each(function(index, elem){
                var $this = $(elem);
                $this.replaceWith($('<a>').attr('href','#')
                        .attr('rel', 'popover')
                        .attr('tabindex', -1)
                        .attr('data-content', $this.text())
                        .html("<i class=\"icon-question-sign\">")
                        .popover()
                        .click(function(event){
                            event.preventDefault();
                        })
                );
            });
        }

        $('form').live('submit', function(evt){
            var submit_to = $(this).attr("action"),
                $this = $(this),
                $submit_button = $(this.Submit),
                data = {};
            if ($this.attr('enctype'))
                return;

            function get_form_object($form) {
                var data = {};
                $form.serializeArray().map(function(e){
                    if (e.hasOwnProperty('name') && e.hasOwnProperty('value')) {
                        data[e.name] = e.value;
                    }
                });
                return data;
            }

            data = get_form_object($this);

            $submit_button.button("loading");

            evt.preventDefault();

            var handlers = {
                'site_config': function(response) {
                    if(response.hasOwnProperty('action') && response.hasOwnProperty('status') && response.status === 'ok') {
                            $("#site_configs_monitor").load("/backend/ #site_configs_monitor >*");
                            $("#status-site-domains").load("/backend/ #status-site-domains >*");
                            $("#monitors").load("/backend/ #monitors >*", load_popovers);
                    }
                },
                'site_domain': function (response) {
                    if(response.hasOwnProperty('action') && response.hasOwnProperty('status') &&
                            response.status === 'ok') {
                        if (response.action === 'delete') {
                            $("#site-domains a:first").click();
                            $("#site-domains").find('li[data-form-id="'+ response.id +'"]').remove();
                            $("#site-domains").tab();
                            $("#site-domain-"+response.id).remove();
                        }
                        if(response.action === 'add' || response.action === 'toggle') {
                            var id = $this.closest('.tab-pane.active').attr('id');
                            $this.closest('.site_config_details').load("/backend #"+id+" .site_config_details >*", load_popovers);

                            $("#status-site-domains").load("/backend/ #status-site-domains >*");
                        }
                    }
                },
                'maintenance': function(response) {
                    if( response.hasOwnProperty('status') && response.status === 'ok') {
                        var id = $this.closest('.tab-pane.active').attr('id');
                        $this.closest('.maintenances').load("/backend #"+id+" .maintenances >*", load_popovers);
                    }
                },

                'reset_api': function(response) {
                    if( response.hasOwnProperty('status') && response.status === 'ok') {
                        var id = $this.closest('.tab-pane.active').attr('id');
                        $this.closest('.site_config_info').load("/backend #"+id+" .site_config_info >*", load_popovers);
                    }
                },
                'module': function(response) {
                    if(response.hasOwnProperty('action') && response.hasOwnProperty('status') &&
                            response.status === 'ok') {
                        if (response.action === 'delete') {
                            $("#modules a:first").click();
                            $("#modules").find('li[data-form-id="'+ response.id +'"]').remove();
                            $("#modules").tab();
                            $("#module-"+response.id).remove();
                        }
                        if(response.action === 'add') {
                            $("#monitors").load("/backend/ #monitors >*", load_popovers);
                        }
                        if(response.action === 'toggle'){
                            var id = $this.closest('.tab-pane.active').attr('id');
                            $this.closest('.module_info').load("/backend #"+id+" .module_info >*");
                        }
                    }
                }
            };

            //clear errors before submit
            $this.find('.input-error').removeClass('input-error');
            $this.find('.error').remove();

            $.post(submit_to,data,
                function(response){
                    $submit_button.button("complete");

                    setTimeout(function() {
                        $submit_button.button("reset");
                    }, 2000);

                    if (response.hasOwnProperty('target') &&
                        typeof handlers[response.target] === 'function') {
                        handlers[response.target](response);
                    }
                    if (response.hasOwnProperty('error')) {
                        for (var key in response.error) {
                            if (response.error.hasOwnProperty(key)) {
                                var $input = $this.find('*[name="'+key +'"]');
                                $input.addClass('input-error').after("<p class='error'>"+ response.error[key] +"</p>");
                            }
                        }
                    }
                    $('input[name="module_action"]').val('');
                    $('input[name="site_config_action"]').val('');
                    $('input[name="site_domain_action"]').val('');

                    $(".datepicker").datepicker();
                })
        });

        $(document).ready(function(){
           // $("#navbar").scrollspy();
           // $(".btn").button();

            $("#site-configs").tab();
            $('#site-configs a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
            $("#modules").tab();
            $('#modules a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });

            $("#site-domains").tab();
            $('#site-domains a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });

            $(".module-delete").live("click", function(e){
                var response = confirm("You are about to delete a module! Continue?");
                if (! response) {
                    e.stopImmediatePropagation();
                    e.stopPropagation();
                    e.preventDefault();
                    return false
                }
                $(this).parent().find('input[name="module_action"]').val('delete')
            });

            $(".module-update").live("click", function(e){
                $(this).parent().find('input[name="module_action"]').val('update')
            });

            $(".site-config-delete").live("click", function(e){
                var response = confirm("You are about to delete a site config! Continue?");
                if (! response) {
                    e.stopImmediatePropagation();
                    e.stopPropagation();
                    e.preventDefault();
                    return false
                }
                $(this).parent().find('input[name="site_config_action"]').val('delete')
            });

            $(".site-config-update").live("click", function(e){
                $(this).parent().find('input[name="site_config_action"]').val('update')
            });

            $(".site-domain-delete").live("click", function(e){
                var response = confirm("You are about to delete a domain! Continue?");
                if (! response) {
                    e.stopImmediatePropagation();
                    e.stopPropagation();
                    e.preventDefault();
                    return false
                }
                $(this).parent().find('input[name="site_domain_action"]').val('delete')
            });

            $(".site-domain-update").live("click", function(e){
                $(this).parent().find('input[name="site_domain_action"]').val('update')
            });

            $('select[name="module_type"]').live("change", function(e){
                var that = $(this),
                    parent_form = that.closest('form');
                switch (that.val()) {
                    case 'url_check':
                        parent_form.find(".expected_status").closest('tr').removeClass('hidden');
                        parent_form.find(".search_keyword").closest('tr').removeClass('hidden');
                        parent_form.find(".check_port").closest('tr').addClass('hidden');
                        break;
                    case 'port_check':
                        parent_form.find(".expected_status").closest('tr').addClass('hidden');
                        parent_form.find(".search_keyword").closest('tr').addClass('hidden');
                        parent_form.find(".check_port").closest('tr').removeClass('hidden');
                    break;
                    default:
                        parent_form.find(".expected_status").closest('tr').addClass('hidden');
                        parent_form.find(".search_keyword").closest('tr').addClass('hidden');
                        parent_form.find(".check_port").closest('tr').addClass('hidden');
                }
            }).change();

            $(".add_domain").live('click', function(evt){
                evt.preventDefault();
                $(this).parent().siblings(".info").toggle();
                $(this).parent().siblings(".add_domain_form").toggle();
            });


            $('.site-config-reset').live('click', function(evt){
                var answer = confirm("WARNING! Resetting your keys will cause all your current active monitors to stop functioning."+
                                     "Proceed only if you know what you are doing!");
                if (!answer) {
                    evt.stopImmediatePropagation();
                    evt.preventDefault();
                }
            });

            load_popovers();

            $('<tr>').height(30)
                     .insertBefore($('#id_password1').closest('tr'));

        });


    </script>
</body>
</html>