{% load media %}
{% load i18n %}
{% load status_tags %}
{% load user_tags %}
<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    {% include_media 'main.js' %}
    {% include_media 'bootstrap.css' %}
    {% include_media 'jquery-ui.css' %}
    <style>
        body, section {
            padding-top: 40px;
        }
    </style>
</head>
<body data-spy="scroll" data-target=".navbar-fixed-top">
    <div id="main-container" class="container">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav pull-left">
                        <li>
                            <a href="#profile"><i class="icon-white icon-user"></i> My Profile</a>
                        </li>
                        <li>
                            <a href="#site_configs_monitor"><i class="icon-white icon-list-alt"></i> Site Configs</a>
                        </li>
                        <li>
                            <a href="#monitors"><i class="icon-white icon-eye-open"></i> Monitors</a>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        <li>
                        <p class="navbar-text">
                            <i class="icon-white icon-user"></i> {% get_full_name user %}
                        </p>
                        </li>
                        <li>
                            <a href="{% url auth_logout %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <section id="profile">
            <div class="page-header">
                <h1>My Profile</h1>
            </div>
                <form method='post' action='/backend/update_profile'>{% csrf_token %}
                    <table>
                        {{  profile_form.as_table }}
                    </table>
                    <button class="btn btn-primary" type="submit" name="Submit" value="update_profile" data-complete-text="Saved!">Save</button>
                </form>
        </section>
        <section id="site_configs_monitor">
            <div class="page-header">
                <h1>My Site Configs</h1>
            </div>
            <ul class="nav nav-tabs" data-tabs="tabs" id="site-configs">
                <li class="active">
                    <a href="#add-site-config" data-toggle="tab"><i class="icon-plus"></i> Add</a>
                </li>
                {% for site_config_form in site_config_forms %}
                    <li data-form-id="{{ site_config_form.instance.pk }}">
                        <a href="#site-config-{{  site_config_form.instance.pk }}" data-toggle="tab">{{ site_config_form.initial.site_name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content" id="site-config-forms">
                <div class="tab-pane active" id="add-site-config">
                    <h2>Add a new Site Config</h2>
                    <form method="post" action='/backend/add_site_config'>{% csrf_token %}
                        <table>
                            {{ site_config_form_template.as_table }}
                        </table>
                        <input type="hidden" name="site_config_action" value="add"/>
                        <button class="btn btn-primary" type="submit" name="Submit" value="add_site_config" data-complete-text="Saved!">Save</button>
                    </form>
                </div>
                {% for site_config_form in site_config_forms %}
                <div class="tab-pane" id="site-config-{{ site_config_form.instance.pk }}" data-form-id="{{ site_config_form.instance.pk }}">

                    <h2>{{ site_config_form.initial.site_name }}</h2>
                    <form method='post' action='/backend/add_site_config'>{% csrf_token %}
                        <table>
                            {{  site_config_form.as_table }}
                        </table>
                        <input type="hidden" name="site_config_id" value="{{ site_config_form.instance.pk }}" />
                        <input type="hidden" name="site_config_action" value="update"/>
                        <button class="btn btn-primary site-config-update" type="submit" name="Submit" value="edit_site_config" data-complete-text="Saved!">Save</button>
                        <button class="btn btn-danger site-config-delete" type="submit" name="Submit" value="delete_site_config" data-complete-text="Deleted!">Delete</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </section>

        <section id="monitors">
            <div class="page-header">
                <h1>My Monitors</h1>
            </div>
            <ul class="nav nav-tabs" data-tabs="tabs" id="modules">
                <li class="active">
                    <a href="#add-module" data-toggle="tab"><i class="icon-plus"></i> Add</a>
                </li>
                {% for module_form in module_forms %}
                    <li data-form-id="{{ module_form.instance.pk }}">
                        <a href="#module-{{  module_form.instance.pk }}" data-toggle="tab">{{ module_form.initial.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content" id="module-forms">
                <div class="tab-pane active" id="add-module">
                    <h2>Add a new Module</h2>
                    <form method="post" action='/backend/add_module'>{% csrf_token %}
                        <table>
                            {{ module_form_template.as_table }}
                        </table>
                        <input type="hidden" name="module_action" value="add"/>
                        <button class="btn btn-primary" type="submit" name="Submit" value="add_module" data-complete-text="Saved!">Save</button>
                    </form>
                </div>
                {% for module_form in module_forms %}
                    <div class="tab-pane" id="module-{{ module_form.instance.pk }}" data-form-id="{{ module_form.instance.pk }}">

                        <h2>{{ module_form.initial.name }}</h2>
                        <form method='post' action='/backend/add_module'>{% csrf_token %}
                            <table>
                                {{  module_form.as_table }}
                            </table>
                            <input type="hidden" name="module_id" value="{{ module_form.instance.pk }}" />
                            <input type="hidden" name="module_action" value="update"/>
                            <button class="btn btn-primary module-update" type="submit" name="Submit" value="edit_module" data-complete-text="Saved!">Save</button>
                            <button class="btn btn-danger module-delete" type="submit" name="Submit" value="delete_module" data-complete-text="Deleted!">Delete</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </section>
        <div style="height:1000px;"></div>
    </div>
    {% include_media 'bootstrap.js' %}
    <script type="text/javascript">
        $(function() {
            $( ".datepicker" ).datepicker();
        });
        $("form").live('submit', function(evt){
            var submit_to = $(this).attr("action"),
                $this = $(this),
                $submit_button = $(this.Submit),
                data = {};

            function get_form_object($form) {
                var data = {};
                $form.serializeArray().map(function(e){
                    if (e.hasOwnProperty('name') && e.hasOwnProperty('value')) {
                        data[e.name] = e.value;
                    }
                });
                return data;
            }

            data = get_form_object($this);

            $submit_button.button("loading");

            evt.preventDefault();

            $.post(submit_to,data,
                function(response){
                    console.log($submit_button);
                    console.log(response);
                    $submit_button.button("complete");

                    setTimeout(function() {
                        $submit_button.button("reset");
                    }, 2000);

                    if (response.hasOwnProperty('error') &&
                            response.hasOwnProperty('message')) {
                        for (var key in response.message) {
                            var $input = $this.find('input[name="'+key +'"]');
                            $input.parent().before("<p>"+ response.message[key] +"</p>");
                        }
                    }
                })
        });
        $(document).ready(function(){
           // $("#navbar").scrollspy();
           // $(".btn").button();

            $("#site-configs").tab()
            $('#site-configs a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            })
        });
    </script>
</body>
</html>