<div class="tab-pane" id="site-config-{{ site_config_form.instance.pk }}" data-form-id="{{ site_config_form.instance.pk }}">

    <h2>{{ site_config_form.initial.site_name }}</h2>
    <form method='post' action='/backend/add_site_config' class="span4">{% csrf_token %}
        <table>
            {{  site_config_form.as_table }}
        </table>
        <input type="hidden" name="site_config_id" value="{{ site_config_form.instance.pk }}" />
        <input type="hidden" name="site_config_action" value="update"/>
        <button class="btn btn-primary site-config-update" type="submit" name="Submit" value="edit_site_config" data-complete-text="Saved!">Save</button>
        <button class="btn btn-danger site-config-delete" type="submit" name="Submit" value="delete_site_config" data-complete-text="Deleted!">Delete</button>
    </form>
    <div class="site_config_details span7 well">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th colspan="2">Details</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Api Key:</td><td>{{ site_config_form.instance.api_key }}</td>
        </tr>
        <tr>
            <td>Api Secret:</td><td>{{ site_config_form.instance.api_secret }}</td>
        </tr>
        <tr>
            <td>Public:</td><td>{% if site_config_form.instance.is_public %}
                                        <span>Yes</span> <div class="btn-group"><a href="#" class="btn go_private">Go private</a><a href="#" class="btn another add_domain">Add another domain</a>
                                {% else %}
                                        <span>No</span>  <div class="btn-group"><a href="#" class="btn add_domain first">Go public</a>
                                {% endif %}
                                </div>

            <span class="info" style="display:none; ">Add the domain which points to your site status page (this can be a subdomain of <span class="label">{{ request.get_host }}</span> ):</span>
            <br/>
            <form method="post" action="{% url add_site_domain %}" class="add_domain_form" style="display:none;">{% csrf_token %}
                <input type="text" name="status_url" />
                <input type="hidden" name="site_config" value="{{ site_config_form.instance.id }}" />
                <input type="hidden" name="site_domain_action" value="add" />
            </form>
        </td>
        </tr>
        <tr>
            <td>Links:</td><td><ul>
                        {% for url in site_config_form.instance.list_urls %}
                            <li><a href="{{ url }}" target="_blank">{{ url }}</a></li>
                        {% endfor %}
                      </ul></td>
        </tr>
        </tbody>
    </table>
    </div>
</div>