{% load media %}
{% load i18n %}
{% load status_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>{% block title %}{% blocktrans %}{{ SITE_NAME }} Status{% endblocktrans %}{% endblock %}</title>
	{% include_media 'main.css' %}
	{% include_media 'main.js' %}
	
	{% block extra_head %}{% endblock %}
</head>
<body id="body">
	{% block google_analytics %}
		{% if GOOGLE_ANALYTICS_ID %}
			<script type="text/javascript">
			  {% comment %} Google Analytics {% endcomment %}
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ID }}']);
			  _gaq.push(['_trackPageview']);
			
			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
			</script>
		{% endif %}
	{% endblock %}

	<div id="top_div">
		<div id="top_content">
			<div id="logo">
				<h1>{{ SITE_NAME }}</h1>
				<h4>{% trans "Site Status" %}</h4>
			</div>
		</div>
	</div>
	
	<div class="menu">
		<div class="menu_content">
			<ul>
				<li><a href="{{ MAIN_SITE_URL }}">{{ SITE_NAME }}</a></li>
				<li><a href="/subscribe">{% trans "Be notified about our status" %}</a></li>
			</ul>
		</div>
	</div>
	
	{% block header_status %}
		{% include "main/parts/header_status.html" %}
	{% endblock %}
	
	{% block content %}
	<div id="content">
		<div id="first_content">
			{% block first_content %}
			<div class="box">
				<div class="text_box">
					<p class="title">{% trans "Site Status" %}</p>
					<table>
						<tr>
							<td>Module</td>
							{% last_days_header "7" %}
						</tr>
						{% for module in modules %}
						<tr>
							<td>{{ module.name }}</td>
							{% for day in module.last_7_days %}
							<td>
								{% for status in day.list_statuses %}
									<img src='{% media_url status.1 %}' alt='{% verbose_status status.0 %}'/>
								{% endfor %}
							</td>
							{% endfor %}
							<td><img src='{% media_url module.status_img %}' alt='{% verbose_status module.status %}'/></td>
						</tr>
						{% endfor %}
					</table>
					<div class="more"><a href="" ></a></div>
				</div>
			</div>
			{% if scheduled_maintenances or twitter_account %}
				<img src="{% media_url "img/hr.png" %}" alt="" />
			{% endif %}
			{% endblock %}
			
			{% block twitter %}
			{% if twitter_account %}
			<div class="box">
				<div class="text_box">
					<p class="title">Twitter</p>
						<script src="http://widgets.twimg.com/j/2/widget.js"></script>
						<script>
						new TWTR.Widget({
						  version: 2,
						  type: 'profile',
						  rpp: 4,
						  interval: 6000,
						  width: 880,
						  height: 500,
						  theme: {
						    shell: {
						      background: '#333333',
						      color: '#ffffff'
						    },
						    tweets: {
						      background: '#000000',
						      color: '#ffffff',
						      links: '#4aed05'
						    }
						  },
						  features: {
						    scrollbar: false,
						    loop: false,
						    live: false,
						    hashtags: true,
						    timestamp: true,
						    avatars: false,
						    behavior: 'all'
						  }
						}).render().setUser('{{ twitter_account.login }}').start();
						</script>
					<div class="more"><a href="" ></a></div>
				</div>
			</div>
			{% if scheduled_maintenances %}
				<img src="{% media_url "img/hr.png" %}" alt="" />
			{% endif %}
			{% endif %}
			{% endblock %}
			
			{% block scheduled_maintenances %}
			{% if scheduled_maintenances %}
				<br />
				<br />
				<div class="big_round_box">
					<p class="title">{% trans "Scheduled Maintenances" %}</p>
					<p class="description">{{ scheduled_maintenances }}</p>
				</div>
			{% endif %}
			{% endblock %}
			<div style="clear:both"></div>	
		</div>
	</div>
	{% endblock %}

	<div id="bottom">
		<div id="bottom_content">
			<div class="callcenter">
				<p class="call_us" style="color:#e44038;padding-left:30px;">{% trans "Suport 24/7:" %} </p>
				<p class="call_us"><img src="{% media_url "img/phone.png" %}" alt="phone" />{{ CONTACT_PHONE }}</p>
				<p class="call_us"><img src="{% media_url "img/email.png" %}" alt="email" />{{ CONTACT_EMAIL }}</p>
			</div>
			<div id="menu_bottom_list">
				<div class="menu_bottom" ><a href="{{ MAIN_SITE_URL }}">{{ SITE_NAME }}</a></div>
				<div class="menu_bottom" ><a href="/subscribe">{% trans "Be notified about our status" %}</a></div>
			</div>
		</div>
	</div>
</html>