{% extends 'main/home.html' %}
{% load media %}
{% load i18n %}
{% load status_tags %}

{% block title %}{% blocktrans %}{{ event.verbose }} - {{ SITE_NAME }} Status{% endblocktrans %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block header_status %}
{% endblock %}
	
{% block first_content %}
	<div class="box">
		<div class="text_box">
			<p class="title">{% blocktrans %}{{ event.verbose }}{% endblocktrans %}</p>
			<div class="description">
				<p class="event_status">
				{% if event.back_at %}
					<b>{% blocktrans %}System have recovered from this event since {{ event.back_at }}{% endblocktrans %}</b>
				{% else %}
					<b>{% blocktrans %}We're still working to recover from this event. <a href='/subscribe/{{ event.id }}'>Subscribe now</a> to receive a notification as soon as we're back!{% endblocktrans %}</b>
				{% endif %}
				</p>
				<p class="event_detail"><b>{% trans "Module:" %}</b> {% if event.module.url %}<a href="{{ event.module.url }}">{{ event.module.name }}</a>{% else %}{{ event.module.name }}{% endif %}</p>
				<p class="event_detail"><b>{% trans "Down at:" %}</b> {{ event.down_at }}</p>
				{% if event.back_at %}
					<p class="event_detail"><b>{% trans "Back at:" %}</b> {{ event.back_at }}</p>
				{% endif %}
				{% if event.details %}
					<p class="event_detail"><b>{% trans "Details:" %}</b> {{ event.details }}</p>
				{% endif %}
				<div class="more"><a href="/">{% trans "All Status" %}</a></div>
			</div>
		</div>
	</div>
	{% if scheduled_maintenances or twitter_account %}
		<img src="{% media_url "img/hr.png" %}" alt="" />
	{% endif %}
{% endblock %}