{% extends 'base.html' %}
{% load media %}
{% load i18n %}
{% load status_tags %}
{% load site_url %}

{% block title %}{% blocktrans with site_config.site_name as site-name%}{{ site-name }} Status{% endblocktrans %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block header_status %}
	{% include "main/parts/header_status.html" %}
{% endblock %}


{% block scheduled_maintenances %}
    {% if scheduled_maintenances|length %}
        <br />
        <br />
        <div class='box'>
            <h3>Scheduled maintenances</h3>
            {% for schedule in scheduled_maintenances %}
                {% if schedule.time_left > 0 %}
                    <div class="text_box well">
                        <p class="title">{% trans "Maintenance scheduled to: " %}{{ schedule.scheduled_to|date:"DATETIME_FORMAT" }}</p>
                        <p class="description">{% trans "Remaining downtime estimate: " %} <b>{{ schedule.time_left|floatformat:0 }} {% trans " minutes" %}</b><br/><br/>{{ schedule.message }}</p>
                        <div class="more"><a href=""></a></div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block first_content %}
<div class="box">
	<div class="text_box">
        <h3>{% trans "Site Status" %}</h3>

		<table class="table table-condensed">
			<thead>
                <tr>
                    <th>Module</th>
                    {% last_days_header "7" %}
                    <th>Subscribe</th>
                </tr>
            </thead>
            <tbody>
			{% for module in modules %}
                {% if not request.public or request.public and module.public %}
			<tr>
				<td><a href='{{ module.url }}'>{{ module.name }}</a></td>
				{% for day in module.last_7_days %}
				<td>
					{% for status in day.list_statuses %}
						<img src='{% media_url status.1 %}' alt='{% verbose_status status.0 %}'/>
					{% endfor %}
				</td>
				{% endfor %}
				<td><img src='{% media_url module.status_img %}' alt='{% verbose_status module.status %}'/></td>
                <td><a href='{% site_url module_subscribe site_id=request.site_config.id module_id=module.pk %}' title='{% blocktrans with module.name as module_name %} Subscribe to module {{ module_name }} {% endblocktrans %}'><i class="icon-envelope"></i></a></td>
			</tr>

                {% endif %}
			{% endfor %}
            </tbody>
		</table>
        {% if events and SHOW_INCIDENTS %}
            <h3>{% trans "Events list" %}</h3>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>{% blocktrans %}Module{% endblocktrans %}</th>
                        <th>Status</th>
                        <th>Down from</th>
                        <th>Back at</th>
                    </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td><a href='{% site_url event site_id=request.site_config.id event_id=event.id %}'>{{ event.module.name }}</a></td>
                        <td><img src='{% media_url event.status_img %}' alt='{% verbose_status event.status %}' title='{% verbose_status event.status %}'/></td>
                        <td>{{ event.down_at }}</td>
                        {% if not event.back_at %}
                            <td><a href='{% site_url event_subscribe site_id=request.site_config.id event_id=event.id %}' title='{% blocktrans %}Subscribe to this event.{% endblocktrans %}'><i class="icon-envelope"></i></a></td>
                        {% else %}
                            <td>{{ event.back_at }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
	</div>
</div>
{% if scheduled_maintenances or twitter_account %}
	<img src="{% media_url "img/hr.png" %}" alt="" />
{% endif %}
{% endblock %}
			
{% block twitter %}
{% if twitter_account %}
<div class="box">
	<div class="text_box">
		<p class="title">{% blocktrans with SITE_NAME as site-name%}{{ site-name }} on Twitter{% endblocktrans %}</p>
		<script src="http://widgets.twimg.com/j/2/widget.js"></script>
		<script>
		new TWTR.Widget({
		  version: 2,
		  type: 'profile',
		  rpp: 4,
		  interval: 6000,
		  width: 880,
		  height: 500,
		  theme: {
		    shell: {
		      background: '#333333',
		      color: '#ffffff'
		    },
		    tweets: {
		      background: '#000000',
		      color: '#ffffff',
		      links: '#4aed05'
		    }
		  },
		  features: {
		    scrollbar: false,
		    loop: false,
		    live: false,
		    hashtags: true,
		    timestamp: true,
		    avatars: false,
		    behavior: 'all'
		  }
		}).render().setUser('{{ twitter_account.login }}').start();
		</script>
	</div>
</div>
{% if scheduled_maintenances %}
	<img src="{% media_url "img/hr.png" %}" alt="" />
{% endif %}
{% endif %}
{% endblock %}
