{% load media %}
{% load i18n %}
{% load status_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% blocktrans %}{{ SITE_NAME }} Status{% endblocktrans %}{% endblock %}</title>
    {% include_media 'main.js' %}
    {% include_media 'root.css' %}
    {% include_media 'bootstrap.js' %}
    {% include_media 'bootstrap.css' %}

    {% block extra_head %}{% endblock %}
    <script type="text/javascript">
        function selectEntry(which) {
            var list = $("#main-menu li");
            if (which > list.length || which < 0) {
                which = 0;
            }
            list.removeClass("active");
            $(list[which]).addClass("active");
        }
    </script>
</head>
<body id="body">
<div class="container full-height" id="main-container">
    {% block top_div %}
        <header class="jumbotron subhead" id="top-header">
            <h1>Site Status</h1>
            <p class="lead">Status for your site.</p>
            <div class="subnav">
                <ul id="main-menu" class="nav nav-pills">
                    <li><a href="{{ MAIN_SITE_URL }}">Home</a></li>
                    <li class="dropdown pull-right" id="login">
                        {% if not user.is_authenticated %}
                            <a href="#login" class="dropdown-toggle" data-toggle="dropdown">
                                Account
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu span3 well">
                                <li>
                                    <form class="navbar-form form-horizontal" method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
                                        <input class="input-large" type="text" id="username" name="username" placeholder="{% trans "username" %}"/>
                                        <input class="input-large" type="password" id="password" name="password" placeholder="{% trans "password" %}" />

                                        <button id="signin-button" class="btn btn-primary" type="submit">{% trans "Sign in" %}</button>
                                    </form>
                                </li>
                                <li><a href="{% url django.contrib.auth.views.password_reset %}">{% trans "Forgot password ?"%}</a></li>
                                <li class="divider"></li>

                                <li><a href="{% url registration_register %}">{% trans "Need an account ?"%}</a></li>
                            </ul>
                            {% else %}
                                <a href="#account" class="dropdown-toggle" data-toggle="dropdown">
                                    Howdy, {{  user.username  }}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu span3 well">
                                    <li>
                                        <a href="/backend/">Manage my account</a>
                                    </li>
                                    <li class="divider"></li>

                                    <li><a href="{% url auth_logout %}">Logout</a></li>
                                </ul>

                            {% endif %}
                    </li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Docs</a></li>

                </ul>
            </div>
        </header>
    {% endblock %}

    {% block content %}
        <div id="get-started">
            <h2>Monitor your site in 3 easy steps:</h2>
            <ol class="offset1">
                <li>Register an account</li>
                <li>Add your site configuration</li>
                <li>Customize</li>
            </ol>
        </div>
    {% endblock %}

    <div id="push-bottom"></div>
</div>

<footer  id="bottom" class="container">
        <div id="bottom_content">
            <div class="callcenter">
                <p class="call_us" style="color:#e44038;padding-left:30px;">{% trans "Suport 24/7:" %} </p>
                <p class="call_us"><img src="{% media_url "img/phone.png" %}" alt="phone" />{{ CONTACT_PHONE }}</p>
                <p class="call_us"><img src="{% media_url "img/email.png" %}" alt="email" />{{ CONTACT_EMAIL }}</p>
            </div>
            <div id="menu_bottom_list">
                <div class="menu_bottom" ><a href="{{ MAIN_SITE_URL }}">{{ SITE_NAME }}</a></div>
                <div class="menu_bottom" ><a href="/subscribe">{% trans "Be notified about our status" %}</a></div>
            </div>
        </div>
</footer>
<script type="text/javascript">
    selectEntry({% block selected-menu-entry %}0{% endblock %});
    $('.dropdown-toggle').dropdown();
    $('.dropdown-toggle').on('show:dropdown', function(evt){
        $(this).parent().find('input[value=""]:visible:first').focus();
    });
</script>

{% block before_end %}

{% endblock %}
</body>
</html>