{% extends 'main/home.html' %}
{% load media %}
{% load status_tags %}
{% load i18n %}
{% load site_url %}

{% block title %}{% blocktrans %}{{ event.verbose }} - {{ SITE_NAME }} Status{% endblocktrans %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block header_status %}
{% endblock %}
	
{% block first_content %}
	<div class="box">
		<div class="text_box">
			{% include "main/parts/subscribe_form.html" %}
			<div class="more"><a href="{% site_url home site_id=request.site_config.id %}">{% trans "All Status" %}</a></div>
		</div>
	</div>
	{% if scheduled_maintenances or twitter_account %}
		<img src="{% media_url "img/hr.png" %}" alt="" />
	{% endif %}
{% endblock %}