{% if SHOW_INCIDENTS or SHOW_UPTIME %}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
	  google.load("visualization", "1", {packages:["corechart"]});
	  
	  {% if SHOW_INCIDENTS %}
		  function drawIncidentsChart() {
		    var data = new google.visualization.DataTable();
		    data.addColumn('string', 'Day');
		    data.addColumn('number', 'Incidents');
		    data.addRows({{ incidents_data|safe }});
		
		    var chart = new google.visualization.AreaChart(document.getElementById('incidents_chart'));
		    chart.draw(data, {width: 175, height: 70,
		                      hAxis: {textPosition: 'none'},
		                      vAxis: {textPosition: 'none',
		                      		  gridlineColor:'none'},
		                      chartArea: {width: '90%',
		                      			  height: '70%'},
		                      colors: ['red'],
		                      legend: 'none',
		                      axisTitlesPosition: 'none',
		                     });
		  }
		  google.setOnLoadCallback(drawIncidentsChart);
	  {% endif %}
	  
	  {% if SHOW_UPTIME %}
		  function drawUptimeChart() {
		    var data = new google.visualization.DataTable();
		    data.addColumn('string', 'Day');
		    data.addColumn('number', 'Uptime');
		    data.addRows({{ uptime_data|safe }});
		
		    var chart = new google.visualization.AreaChart(document.getElementById('uptime_chart'));
		    chart.draw(data, {width: 175, height: 70,
		                      hAxis: {textPosition: 'none'},
		                      vAxis: {textPosition: 'none',
		                      		  gridlineColor:'none'},
		                      chartArea: {width: '90%',
		                      			  height: '70%'},
		                      colors: ['blue'],
		                      legend: 'none',
		                      axisTitlesPosition: 'none',
		                     });
		  }
		  google.setOnLoadCallback(drawUptimeChart);
	  {% endif %}
	</script>
{% endif %}

<div id="video">
	<div id="status_header">
			<div class='status_header_block'>
				<p class='status_header_title'>Availability</p>
				<p class='status_header_value'>{{ current_availability }} %</p>
			</div>
			
			{% if SHOW_LAST_INCIDENT %}
				<div class='status_header_block'>
					<p class='status_header_title'>Last Incident</p>
					<p class='status_header_value'>{{ last_incident.verbose_html|safe }}</p>
				</div>
			{% endif %}
			
			{% if SHOW_INCIDENTS %}
				<div class='status_header_block'>
					<p class='status_header_title'>Incidents</span>
					<div id='incidents_chart'></div>
				</div>
			{% endif %}
			
			{% if SHOW_UPTIME %}
				<div class='status_header_block'>
					<p class='status_header_title'>Uptime</span>
					<div id='uptime_chart'></div>
				</div>
			{% endif %}
			
			{% if msg %}
				<p class="msg">{{ msg }}</p>
			{% endif %}
	</div>
</div>